<!DOCTYPE html>
{% extends "base.html" %} {% block title %}
<title>Agregar Producto</title>
{% endblock %} {% block header %}
<h1>Agregar Producto</h1>
{% endblock %} {% block content %}
<div class="container">
    <form action="/add_product" method="POST" class="product-form">
        <fieldset>
            <legend>Agregar un nuevo producto</legend>

            <div class="form-group">
                <input
                    type="text"
                    name="name"
                    id="name"
                    minlength="10"
                    autofocus
                    required
                    placeholder=" "
                />
                <label for="name">Nombre del producto</label>
            </div>

            <div class="form-group">
                <input
                    type="number"
                    name="price"
                    id="price"
                    min="1"
                    step="0.01"
                    required
                    placeholder=" "
                />
                <label for="price">Precio</label>
            </div>

            <div class="form-group">
                <input
                    type="number"
                    name="stock"
                    id="stock"
                    min="0"
                    required
                    placeholder=" "
                />
                <label for="stock">Stock</label>
            </div>

            <div class="form-group">
                <input
                    type="text"
                    name="img_url"
                    id="img_url"
                    placeholder=" "
                />
                <label for="img_url">Url de la imagen</label>
            </div>

            <div class="cat">
                <select name="category" id="category">
                    <option value="" disabled selected>
                        Selecciona una categoría
                    </option>
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="add_product_btn">
                <button type="submit" class="btn btn-primary">
                    Añadir producto
                </button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
