<!DOCTYPE html>
{% extends "base.html" %} {% block title %}
<title>User Page</title>
{% endblock %} {% block header %}
<h1>Detalles del Usuario</h1>
{% endblock %} {% block content %}
<div class="content-container clients client">
    <div class="content-card">
        <div class="content-header">
            <h3>{{ cli.name }}</h3>
            <p>Id: <strong>{{ cli.id }}</strong></p>
            <p>Email: <strong>{{ cli.email }}</strong></p>
            <p>
                Estado: {% if cli.active %}
                <span class="active">ACTIVO</span>
                {% else %}
                <span class="inactive">INACTIVO</span>
                {% endif %}
            </p>
            <p>Nº de pedidos: <strong>{{ cli.num_orders}}</strong></p>
        </div>
        <img
            class="client_img"
            src="{{ cli.profile_pic }}"
            alt="Foto de perfil de {{ cli.profile_pic }}"
        />
    </div>
</div>
<a href="{{ url_for('home') }}" class="btn btn-primary">Volver al inicio</a>
<a href="{{ url_for('del_client',id=cli.id) }}" class="btn btn-delete"
    >Eliminar Usuario</a
>
{%endblock%}
