<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Lista de Pedidos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('orders') }}">Pedidos</a></li>
            <li><a href="{{ url_for('clients') }}">Clientes</a></li>
            <li><a href="{{ url_for('products') }}">Catálogo</a></li>
            <li><a href="{{ url_for('add_product') }}">Agregar Producto</a></li>
        </ul>
    </nav>
    <main>
        <div class="content-container total_earnings">
            <div class="content-card">
                <div class="content-header orders">
                    <h2>Total Generado: {{total_earnings}}€</h2>
                </div>
            </div>
            {% for ord in orders %}
            <div class="content-card">
                <div class="content-header orders">
                    <ul>
                        <li>
                            <strong>ID Pedido: </strong>{{ ord["Order"].id }}
                        </li>
                        <br>
                        <li>
                            <strong> ID Cliente: </strong> {{ ord["Order"].client.id }}
                            <ul>
                                <li><strong>Nombre: </strong> {{ord["Order"].client.name}}</li>
                                <li><strong>Email: </strong> {{ord["Order"].client.email}}</li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            <strong>Productos:</strong>
                            <br><br>
                            <ol>
                                {% for prod in ord["Order"].products %}
                                <li>
                                    <strong> ID Producto: </strong> {{ prod.id }}
                                    <ul>
                                        <li><strong>Nombre: </strong> {{prod.name}}</li>
                                        <li><strong>Precio: </strong> {{prod.price}}€</li>
                                    </ul>
                                    <br>
                                </li>
                                {% endfor %}
                            </ol>
                        </li>
                        <li>
                            <strong>Precio Total: </strong> {{ ord["Total"] }}€
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>