<!DOCTYPE html>
{% extends "base.html" %} {% block title %}
<title>products</title>
{% endblock %} {% block header %}
<h1>Detalles del Producto</h1>
{% endblock %} {% block content %}
<div class="product-container">
    <div class="product-card">
        <div class="content-header">
            <h3>{{ prod.name }}</h3>
            <p>Id: <strong>{{ prod.id }}</strong></p>
            <p>Precio: <strong>{{ prod.price }}€</strong></p>
            <p>
                Stock: {% if prod.stock %}
                <span class="active">{{prod.stock}}</span>
                {% else %}
                <span class="inactive">Agotado</span>
                {% endif %}
            </p>
            <p>Categoría: <strong>{{prod.category}}</strong></p>
        </div>
        <img src="{{ prod.img_url }}" alt="Imagen de {{ prod.name }}" />
    </div>
</div>
<a href="{{ url_for('home') }}" class="btn btn-primary">Volver al inicio</a>
<a href="{{ url_for('del_product', id=prod.id) }}" class="btn btn-delete"
    >Eliminar producto</a
>
{%endblock%}
