<!DOCTYPE html>
{% extends "base.html" %} {% block title %}
<title>Producto</title>
{% endblock %} {% block header %}
<h1>Detalles del Producto</h1>
{% endblock %} {% block content %}
<div class="content-container">
    <div class="content-card">
        <div class="content-header">
            <h3>{{ product.name }}</h3>
            <p>Id: <strong>{{ product.id }}</strong></p>
            <p>Precio: <strong>{{ product.price }}€</strong></p>
            <p>Stock: <span class="active">{{ product.stock }}</span></p>
            <p>Categoría: <strong>{{ product.category }}</strong></p>
        </div>
        <img src="{{ product.img_url }}" alt="Imagen de {{ product.name }}" />
    </div>
</div>
<a href="{{ url_for('home') }}" class="btn btn-primary">Volver al inicio</a>
{%endblock%}
